$mainColor: #FF848B;
$yellow: #FEE074;
$darkBlack: #000000;
$black: #111111;
$darkGrey: #333334;
$matterhorn : #505050;
$grey: #5C5C5C;
$greyShades: #5F5F5F;
$green : #1ABC9C;
$white: #FFFFFF;
$lightGrey : #8B969A;

$bg: #ECECEC;


$transition: 0.3s;

$br : 90px;
$brs : 4px;


$desktop: 1280px;
$tabletL: 1024px;
$tabletM: 992px;
$mobileL: 768px;
$mobileM: 576px;
$mobileS: 480px;
$mobileXS: 320px;